@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/* font-family: 'Rubik', sans-serif; */
@import url(./reset.css);
@import url(./phone.css);
@import url(./nav.css);
@import url(./messages.css);
@import url(./charge.css);
@import url(./bar.css);
@import url(./info.css);
:root {
  --PaleViolet: hsl(276, 100%, 81%);
  --ModerateViolet: hsl(276, 55%, 52%);
  --DesaturatedDarkViolet: hsl(271, 15%, 43%);
  --GrayishBlue: hsl(206, 6%, 79%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --DarkGrayishViolet: hsl(270, 7%, 64%);
  --LightMagenta: hsl(293, 100%, 63%);
  --LightViolet: hsl(264, 100%, 61%);
  --White: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 20%, 96%);
  --LightGrayishVioletTwo: hsl(276, 23%, 91%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --VeryLightMagenta: hsl(289, 100%, 72%);

  font-family: "Rubik", sans-serif;
}
